<!-- styles for my resume—>
body{
  font-family: "Open Sans", Arial;
  font-size: 1em;
  color: #444;
}
h1{
  font-size: 3em;
  color: #33485e;
  text-transform: uppercase;
}
title{
  font-size: 1.5em;
  color: #33485e;
  text-transform: uppercase;
}
h2{
  font-size: 1.5em;
  background-color: ##33485e;
  text-transform: uppercase;
  text-weight: 400;
}
h3{
  font-size: 1em;
  text-weight: 600;
}
  h4{
    font-size: 1.5em;
    font-style: italics;
    text-weight: 400;
  }
h5{
  font-size: 1em;
  text-weight: 700;
}
p{
  font-size: 1em;
}
li{
  font-size: 1em;
}
container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}
