h1, blockquote{
    text-align: center;
}
#byline{
   font-family: serif; 
}
p{
    font-family: sans-serif;
}
footer{
    background-color: grey;
    text-align: center;
}
#citation{
    font-size: 75%;
}
#quote{
    font-size: 200%;
}
#main-image{
    width: 80%
}
.center{
    display: flex;
    justify-content: center; 
}